---
const currentYear = new Date().getFullYear();
---
<footer>
    <div>
        Copyright 2012 - <span>{currentYear}</span> | <a href="/aviso-legal" data-i18n="legal_notice">Aviso Legal</a> |
        WOWGamerES
    </div>
</footer>
